/* src/App.css */
.app-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.calendar-container {
  width: 50%;
}

.reservation-table {
  width: 40%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}



/* CustomStyles.css */
.calendar-container .rdrStaticRanges button {
  color: black !important;
}


/* There is additional buttons for selecting - Today, Yestarday, This Week, Last Week, This Month, Last Month and add days butttons */
/* Add this to your App.css or a separate stylesheet */
/* .calendar-container .rdrDefinedRangesWrapper {
  display: none;
} */
